# Virtual environment
venv/

# Environment variables
.env

# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Byte-compiled / optimized / DLL files
*.so
*.pyd

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Logs and databases
*.log
*.sqlite3

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test / coverage
.coverage
.pytest_cache/

# MyPy
.mypy_cache/
